<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <%  function test(fol){  %>
    <% if(fol.contents){ %>
      <% fol.contents.forEach(item=>{%>
<% if(item.contents){ %>
  <h1> <%= item.name %> </h1>
   <% test(item) } else{ %>
   <h2><%= item.name %> </h2>
  <% } %>
       <% }) %>
   <% } %>   
  <% } %>
   <% test(folder) %>
   
   
</body>
<script>
  console.log( JSON.parse(`<%- JSON.stringify(folder) %>`) )
</script>
</html>